[Desktop Entry]
Name=Uninstall Pharaoh Gold
Exec=env WINEPREFIX="/home/silverbluep/.wine" /usr/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/silverbluep/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/GOG.com/Pharaoh\\ Gold/Uninstall\\ Pharaoh\\ Gold.lnk
Type=Application
StartupNotify=true
Path=/home/silverbluep/.wine/dosdevices/c:/GOG Games/Pharaoh Gold
Icon=EA67_unins000.0
StartupWMClass=unins000.exe
