# vim:ft=dosini
#-----------------#
#-----GLOBAL------#
#-----------------#
separator_block_width=15
markup=pango
format=json
interval=persist
command=~/.config/systeminfo/systeminfo -m i3bar -t cc

#-------------------#
#-----BLOCKLETS-----#
#-------------------#

# Battery (varies)
[battery]
accent=yellow

# Pulseaudio volume (red)
[audio]
accent=orange

# Brightness
[brightness]
accent=cyan

# Temperature (Red)
[temperature]
accent=red

# Fan speed (Orange)
[fan]
accent=red

# Cpu info
[cpu]
accent=orange

# Memory
[ram]
accent=yellow

# Kernel (Violet)
[kernel]
accent=violet
interval=once

# Offlineimap (yellow)
[email]
accent=green

# RSS (green)
[rss]
accent=green

# Ethernet
[ethernet]
accent=green

# Wifi
[wifi]
accent=cyan

# Uptime (Indigo)
[uptime]
accent=indigo

# Updates
[updates]
accent=violet
