# vim:ft=dosini
#-----------------#
#-----GLOBAL------#
#-----------------#
# swaybar protocol
border=#181818
border_bottom=2
border_left=0
border_right=0
border_top=0
min_width=7
align=center
separator=true
separator_block_width=5
markup=pango
# i3blocks protocol
command=~/.config/sysinfo/sysinfo.sh
interval=persist
format=json
# for sbp_sysinfo
accent=cyan
# Default to a default instance
instance=default

#-------------------#
#-----BLOCKLETS-----#
#-------------------#
# The general idea of the bottom bar is to have runtime and productivity
# But also provide network information here as well

# Volume
[pulseaudio]
instance=sink
accent=brown
[pulseaudio]
instance=source
accent=brown

# Music
[mpd]
instance=song
accent=red
[mpd]
instance=prev
accent=red
separator=false
[mpd]
instance=rewind
accent=red
separator=false
[mpd]
instance=fastforward
accent=red
separator=false
[mpd]
instance=next
accent=red
separator=false
[mpd]
instance=repeat
accent=red
separator=false
[mpd]
instance=random
accent=red
separator=false
[mpd]
instance=consume
accent=red
separator=false
[mpd]
instance=single
accent=red

# Internet management stuff
[rss]
accent=orange
[email]
accent=orange

# Productivity
[calendar]
accent=yellow
[todo]
accent=green

# Computer state
[keyboard]
accent=cyan

[update]
accent=indigo
#[kernel]
#command=~/.config/sysinfo/sysinfo.sh -t
#interval=once
#accent=violet

# Internet
[bandwidth]
accent=green
[network]
accent=green
