# vim:ft=dosini
#-----------------#
#-----GLOBAL------#
#-----------------#
full_text=〕〔
separator_block_width=15
markup=pango
format=json
interval=persist
command=~/.config/systeminfo/sysinfo-i3bar

#-------------------#
#-----BLOCKLETS-----#
#-------------------#

[seperator-left]
full_text=〔

# Calendar (brown)
[calendar]
accent=yellow

# Tasks (brown)
[todo]
accent=yellow

# Music player daemon notification (red)
[music]
accent=red

# Language
[keyboard]
accent=indigo

# Time
[clock]
accent=brown

# Date
[day]
accent=brown
