# vim:ft=dosini
#-----------------#
#-----GLOBAL------#
#-----------------#
# swaybar protocol
border=#181818
border_bottom=2
border_left=0
border_right=0
border_top=0
min_width=15
align=center
seperator=true
separator_block_width=7
markup=pango
# i3blocks protocol
command=sbp-sysinfo
interval=persist
format=json
# for sbp_sysinfo
accent=cyan
# Default to a default instance
instance=default
#-------------------#
#-----BLOCKLETS-----#
#-------------------#

[seperator-left]
full_text=〔

# Calendar (brown)
[calendar]
accent=yellow

# Tasks (brown)
[todo]
accent=yellow

# Music player daemon notification (red)
[music]
accent=red

# Language
[keyboard]
accent=indigo

# Time
[clock]
accent=brown

# Date
[day]
accent=brown
