# vim:ft=dosini
#-----------------#
#-----GLOBAL------#
#-----------------#
# swaybar protocol
border=#181818
border_bottom=2
border_left=0
border_right=0
border_top=0
min_width=15
align=center
seperator=true
separator_block_width=7
markup=pango
# i3blocks protocol
command=/usr/bin/sbp-sysinfo
interval=persist
format=json
# for sbp_sysinfo
accent=cyan
# Default to the default instance
instance=default

#-------------------#
#-----BLOCKLETS-----#
#-------------------#
# The general idea of the top bar is to have information regarding hardware
# Time and date; however; should be the first things available

# Disk usage
[disk]
instance=home
accent=brown
[disk]
instance=root
accent=brown

[temperature]
accent=red
instance=cpu
[temperature]
accent=red
instance=gpu

[fan]
accent=orange

[cpu]
accent=yellow

[memory]
accent=green

[backlight]
accent=cyan

[clock]
accent=indigo

[date]
accent=violet

[battery]
accent=frg
