# Maintained by sbp-sys-base
# Laptop
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="4c:ed:fb:01:f1:99", NAME="ethernet"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="80:c5:f2:1e:60:71", NAME="wifi"
# Notebook
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="08:62:66:22:8a:57", NAME="ethernet"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="a0:a8:cd:63:2b:bc", NAME="wifi"
# Server (Ethernet is the inner port, while broadcast is the outer port)
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:01:c0:20:54:5d", NAME="ethernet"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:01:c0:20:54:5a", NAME="broadcast"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="60:f6:77:df:23:e3", NAME="wifi"
# Workstation (Ethernet is the top most port)
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:10:18:55:3c:e1", NAME="ethernet"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:25:64:a4:bf:10", NAME="broadcast"
