#-------------------#
#-----BLACKLIST-----#
#-------------------#

# Ignore all files
*

#------------------#
#-----EXTERNAL-----#
#------------------#

# (Symbolic) Links to external folders

# Oxygen Not Included
!/unity3d
!/unity3d/Klei
!/unity3d/Klei/Oxygen Not Included

# Stardew Valley
!/StardewValley

#-------------------#
#-----WHITELIST-----#
#-------------------#

# Files to track
!/.gitignore
!/abcde.conf
!/crontab.cron
!/gpg-agent.conf
!/gpg.conf
!/install.sh
!/locale.conf
!/*mimeapps.list
!/mpdscribble-confgen.sh
!/msmtprc
!/picom.conf
!/README.md
!/s3cfg-gen.sh
!/steamos-compositor-plus
!/tmux.conf
!/user-dirs.dirs

# APPLICATIONS: Accept all except matlab override
!/applications
!/applications/*.desktop
/applications/wine**

# AUTORANDR: Grab all info
!/autorandr
!/autorandr/**

# AUTOSTART: Grab all overrides
!/autostart
!/autostart/**

# BASH: Accept all
!/bash
!/bash/**

# BSPWM: Accept all
!/bspwm
!/bspwm/**

# CURSOR: Accept all
!/cursor
!/cursor/**

# DUNST: Accept the rc
!/dunst
!/dunst/dunstrc

# FONTCONFIG: Accept the fontconfig file
!/fontconfig
!/fontconfig/fonts.conf

# GIT: Grab config file
!/git
!/git/config

# GTK: Get settings
!/gtk-1.0
!/gtk-1.0/gtkrc
!/gtk-2.0
!/gtk-2.0/gtkrc
!/gtk-3.0
!/gtk-3.0/bookmarks
!/gtk-3.0/settings.ini
!/gtk-3.0/gtk.css
!/gtk-4.0/
!/gtk-4.0/settings.ini

# HTOP: Get the rc file
!/htop
!/htop/htoprc

# I3BLOCKS: Grab all things i3
!/i3blocks
!/i3blocks/**

# IMV: Get all
!/imv
!/imv/**
!/unity3d/Klei/Oxygen\ Not\ Included/mods/settings

# ISYNC: Get only the config and password generator
!/isync
!/isync/config
!/isync/passgen.sh
!/isync/mailboxes-update.sh

# JUPYTER: Get only the config file
!/jupyter
!/jupyter/jupyter_notebook_config.py

# KANSHI: Grab all
!/kanshi
!/kanshi/**

# KHAL: Grab all calender files
!/khal
!/khal/**

# KHARD: Grab all contact
!/khard
!/khard/**

# KITTY: Grab the conf files
!/kitty
!/kitty/*.conf

# KVANTUM: Grab the config file
!/Kvantum
!/Kvantum/kvantum.kvconfig

# LATEX: Grab all
!/latex
!/latex/**

# MATLAB: Only get config, and symlinks
!/matlab
!/matlab/R2*
!/matlab/matlab.prf
!/matlab/matlab.settings
!/matlab/MLintDefaultSettings.txt

# MPD: Only get config
!/mpd
!/mpd/mpd.conf

# MPV: Only grab config
!/mpv
!/mpv/mpv.conf

# NCMPCPP: Grab what I have created
!/ncmpcpp
!/ncmpcpp/config

# NEOFETCH: Grab the config
!/neofetch
!/neofetch/config

# NEOMUTT: Things are safe to grab
!/neomutt
!/neomutt/**

# NEWSBOAT: Grab the config and url
!/newsboat
!/newsboat/config
!/newsboat/urls

# NVIM: Grab config files
!/nvim
!/nvim/*.vim
!/nvim/ftplugin
!/nvim/ftplugin/**
!/nvim/ftdetect
!/nvim/ftdetect/**
!/nvim/before
!/nvim/before/**
!/nvim/after
!/nvim/after/**

# OCTAVE: Grab example qt for colors, and the rc file
!/octave
!/octave/octaverc
!/octave/qt-settings

# POLYBAR: Grab all
!/polybar
!/polybar/config

# PROFILE.D: Grab all configuration
!/profile
!/profile.d
!/profile.d/*.sh

# QUTEBROWSER: Grab my files
!/qutebrowser
!/qutebrowser/bookmarks
!/qutebrowser/bookmarks/**
!/qutebrowser/css
!/qutebrowser/css/*
!/qutebrowser/blocked-hosts
!/qutebrowser/config.py
!/qutebrowser/quickmarks

# RAMBOX: Only copy the themes
!/pacman
!/pacman/**

# REDSHIFT: Grab config
!/redshift
!/redshift/redshift.conf

# ROFI: Grab user made files and scripts
!/rofi
!/rofi/**
/rofi/__pycache__

# SUPERVISORD: Grab config
!/supervisor
!/supervisor/**

# SWAY: Grab all sway files
!/sway
!/sway/**

# SXHKD: Grab all
!/sxhkd
!/sxhkd/**

# SYNCTHING-GTK: Grab config
!/syncthing-gtk
!/syncthing-gtk/config.json

# SYSTEMD: Grab everything, for systemd based systems
!/systemd
!/systemd/**

# SYSTEMINFO: My python module, grab everything
!/sysinfo
!/sysinfo/*

# TMUXINATOR: Grab everything
!/tmuxinator
!/tmuxinator/**

# TODOMAN: Grab everything
!/todoman
!/todoman/**

# UDISKIE: Grab config
!/udiskie
!/udiskie/config.json

# URLSCAN: Get config
!/urlscan
!/urlscan/**

# VDIRSYNCER: Grab only config and password generator
!/vdirsyncer
!/vdirsyncer/config
!/vdirsyncer/passgen.sh

# VIFM: Grab config files
!/vifm
!/vifm/vifmrc
!/vifm/colors
!/vifm/colors/**

# WAYBAR: Grab all
!/waybar
!/waybar/**

# X11: Grab everything here since I wrote them
!/X11
!/X11/**

# YOUTUBE-DL: Grab config
!/youtube-dl
!/youtube-dl/**

# ZATHURA: Grab config
!/zathura
!/zathura/**

# ZSH: Ignore all but few files certain files
!/zsh
!/zsh/zlogin
!/zsh/.zlogin
!/zsh/zlogout
!/zsh/.zlogout
!/zsh/zprofile
!/zsh/.zprofile
!/zsh/zshrc
!/zsh/.zshrc
!/zsh/zshenv
!/zsh/.zshenv
!/zsh/zimrc
!/zsh/.zimrc
!/zsh/p10k*.zsh
