[Desktop Entry]
Type=Application
GenericName=Launch Remote Desktop of Server Hopper
X-GNOME-FullName=Hopper
Keywords=hopper;server;rdp
Name=Hopper RDP
Comment=Launch XFreeRDP to remote te Hopper
Terminal=false
Exec=/home/sbp/.config/scripts/hopper_rdp.sh
Icon=remmina
