[Desktop Entry]
Type=Application
GenericName=Programming for Data Analysis
X-GNOME-FullName=MATLAB R2017b
Keywords=matlab;calculation;programming;analysis
Categories=Developement;
MimeType=text/x-matlab
Name=MATLAB R2017b
Comment=Start MATLAB - The Language of Technical Computing
Exec=matlab -desktop
Terminal=false
StartupNotify=true
Icon=matlab
Categories=Development;
StartupWMClass="MATLAB R2017b - academic use"
