[Desktop Entry]
Encoding=UTF-8
Name=Pharaoh Gold
Comment=PlayOnLinux
Type=Application
Exec=/usr/share/playonlinux/playonlinux --run "Pharaoh Gold" %F
Icon=/home/silverbluep/.PlayOnLinux//icones/full_size/Pharaoh Gold
Name[fr_FR]=Pharaoh Gold
StartupWMClass=Pharaoh.exe
Categories=Game;StrategyGame;
