[Desktop Entry]
Type=Application
GenericName=Restart computer using systemd
X-GNOME-FullName=Reboot
Keywords=reboot;restart
Categories=System
Name=Reboot
Comment=Restart computer using systemd
Terminal=false
Exec=systemctl reboot
Icon=system-restart
