[Desktop Entry]
Type=Application
GenericName=Restart computer using systemd
X-GNOME-FullName=Reboot
Keywords=reboot;restart;power
Categories=System
Name=Reboot
Comment=Restart computer using systemd
Terminal=false
Exec=sh -c '[ -x /bin/systemctl ] && systemctl reboot || /sbin/reboot'
Icon=system-restart
