[Desktop Entry]
Type=Application
GenericName=Power off computer using systemd
X-GNOME-FullName=Shutdown
Keywords=shutdown;poweroff;power
Categories=System
Name=Shutdown
Comment=Power off computer using systemd
Terminal=false
Exec=sh -c '[ -x /bin/systemctl ] && systemctl poweroff || /sbin/shutdown now'
Icon=system-shutdown
