[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/png;
Exec=env WINEPREFIX="/opt/wine" /usr/bin/wine start /ProgIDOpen pngfile %f
NoDisplay=true
StartupNotify=true
Icon=FB4C_iexplore.0
