[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=text/html;
Exec=env WINEPREFIX="/opt/wine" /usr/bin/wine start /ProgIDOpen htmlfile %f
NoDisplay=true
StartupNotify=true
Icon=7765_winebrowser.0
