[Desktop Entry]
Name=Picom
Type=Application
Exec=picom --daemon --experimental-backends
Version=1.0
Comment=Standalone X compositor
Icon=compton
Terminal=false
Categories=Utility;
StartupNotify=false
Hidden=false
OnlyShowIn=bspwm;
