[Desktop Entry]
Name=Wallpaper (BSPWM)
Comment=Wallpaper slideshow for BSPWM
Exec=sh -c '~/.config/bspwm/wallpaper.sh -s'
Icon=preferences-desktop-display
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=bspwm;
