[Desktop Entry]
Name=SXHKD
Comment=Simple X HotKey Daemon for BSPWM
Exec=sh -c 'sxhkd -c ~/.config/bspwm/sxhkdrc'
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=bspwm;
