[Desktop Entry]
Name=Unclutter
Type=Application
Exec=unclutter
Version=1.0
Comment=Hide inactive mouse
Icon=mouse
Terminal=false
Categories=Utility;
StartupNotify=false
Hidden=false
OnlyShowIn=bspwm;
