[Desktop Entry]
Name=Monitors (BSPWM)
Comment=Monitor hotplug listener for BSPWM
Exec=sh -c '~/.config/bspwm/monitors.sh --daemon'
Icon=preferences-desktop-display
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=bspwm;
NotShowIn=sway;
