[Desktop Entry]
Name=Dropdown terminal
Comment=Launch a dropdown terminal, ready to go
Exec=bspwm-dropdown.sh
Icon=terminal
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=bspwm
