[Desktop Entry]
Type=Application
Name=Dropdown terminal
Icon=termite
Comment=Dropdown terminal
Exec=alacritty -t 'dropdown'
StartupNotify=false
Terminal=false
Hidden=false
OnlyShowIn=sway;bspwm;
