[Desktop Entry]
Name=Dropdown terminal
Comment=Launch a dropdown terminal, ready to go
Exec=sh -c "${XDG_CONFIG_HOME}/bspwm/scripts/dropdown.sh"
Icon=terminal
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=bspwm
