[Desktop Entry]
Name=Dunst
Comment=D-Bus Notification daemon
Exec=dunst
Icon=preferences-system-notifications
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=bspwm;
NotShowIn=GNOME;KDE;Unity;MATE;sway;
