
[Desktop Entry]
Version=0.4.3
Type=Application
Name=Maestral
Icon=maestral
GenericName=File Synchronizer
Comment=Sync your files with Dropbox
Exec=maestral gui --config-name='maestral'
Hidden=false
Terminal=false
Type=Application
Categories=Network;FileTransfer;
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-DBUS-ServiceName=maestral
