[Desktop Entry]
Type=Application
Name=Mbsync
Icon=applications-email-panel
Comment=Mbsync (isync) for syncronizing mail
Exec=sh -c '~/.config/isync/mbsync_daemon'
StartupNotify=false
Terminal=false
Hidden=false
NotShowIn=GNOME;KDE;Unity;MATE;XFCE;
OnlyShowIn=i3;sway;bspwm;
