[Desktop Entry]
Name=i3 Monitors
Comment=Monitor hotplug listener for i3
Exec=sh -c '~/.config/i3/monitors.sh'
Icon=preferences-desktop-display
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=i3;
