[Desktop Entry]
Name=Monitors
Comment=Monitor hotplug listener
Exec=sh -c '~/.config/bspwm/monitors.sh'
Icon=preferences-desktop-display
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=bspwm;
NotShowIn=GNOME;KDE;Unity;MATE;sway;
