[Desktop Entry]
Version=1.0
Name=Picom
Comment=Standalone X compositor
Exec=/usr/bin/picom -b --experimental-backends
Icon=compton
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
Hidden=false
OnlyShowIn=bspwm;
