[Desktop Entry]
Name=Policykit Authenticator
Exec=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Comment=Authentication agent
X-GNOME-Autostart-enabled=true
Hidden=false
Type=Application
StartupNotify=false
