[Desktop Entry]
Name=Polybar
Comment=Launch screen info bars
Exec=sh -c "${XDG_CONFIG_HOME}/bspwm/scripts/polybars.sh"
Icon=polybar
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=bspwm
