[Desktop Entry]
Type=Application
Version=1.0
Name=rambox
Comment=ramboxstartup script
Exec=/opt/rambox/rambox --hidden
StartupNotify=false
Terminal=false
Hidden=true

