[Desktop Entry]
Type=Application
Version=1.0
Name=rambox
Comment=ramboxstartup script
Exec=/usr/lib/rambox-os/rambox --hidden
StartupNotify=false
Terminal=false