[Desktop Entry]
Version=1.0
Name=Redshift
Comment=Color temperature adjustment tool
Exec=sh -c 'if [ "sbp-workstation" != "$(hostname)" ] ; then redshift-gtk ; else echo "yay" ; fi'
Icon=redshift
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
Hidden=false
NotShowIn=sway;
