[Desktop Entry]
Name=Steam (Runtime)
Comment=Application for managing and playing games on Steam
Comment[pt_BR]=Aplicativo para jogar e gerenciar jogos no Steam
Comment[bg]=Приложение за ръководене и пускане на игри в Steam
Comment[cs]=Aplikace pro spravování a hraní her ve službě Steam
Comment[da]=Applikation til at håndtere og spille spil på Steam
Comment[de]=Anwendung zum Verwalten und Spielen von Spielen auf Steam
Comment[el]=Εφαρμογή διαχείρισης παιχνιδιών στο Steam
Comment[es]=Aplicación para administrar y ejecutar juegos en Steam
Comment[fi]=Steamin pelien hallintaan ja pelaamiseen tarkoitettu sovellus
Comment[fr]=Application de gestion et d'utilisation des jeux sur Steam
Comment[hu]=Alkalmazás a Steames játékok futtatásához és kezeléséhez
Comment[it]=Applicazione per la gestione e l'esecuzione di giochi su Steam
Comment[ja]=Steam 上でゲームを管理＆プレイするためのアプリケーション
Comment[ko]=Steam에 있는 게임을 관리하고 플레이할 수 있는 응용 프로그램
Comment[nl]=Applicatie voor het beheer en het spelen van games op Steam
Comment[no]=Program for å administrere og spille spill på Steam
Comment[pl]=Aplikacja do zarządzania i uruchamiania gier na platformie Steam
Comment[pt_PT]=Aplicação para organizar e executar jogos no Steam
Comment[ro]=Aplicație pentru administrarea și jucatul jocurilor pe Steam
Comment[ru]=Приложение для игр и управления играми в Steam
Comment[sv]=Ett program för att hantera samt spela spel på Steam
Comment[th]=โปรแกรมสำหรับจัดการและเล่นเกมบน Steam
Comment[tr]=Steam üzerinden oyun oynama ve düzenleme uygulaması
Comment[uk]=Програма для керування іграми та запуску ігор у Steam
Comment[vi]=Ứng dụng để quản lý và chơi trò chơi trên Steam
Comment[zh_CN]=管理和进行 Steam 游戏的应用程序
Comment[zh_TW]=管理並執行 Steam 遊戲的應用程式
Exec=/usr/bin/steam-runtime %U
Icon=steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;
Actions=Store;Community;Library;Servers;Screenshots;News;Settings;BigPicture;Friends;
Hidden=true

[Desktop Action Store]
Name=Store
Name[pt_BR]=Loja
Name[bg]=Магазин
Name[cs]=Obchod
Name[da]=Butik
Name[de]=Shop
Name[el]=ΚΑΤΑΣΤΗΜΑ
Name[es]=Tienda
Name[fi]=Kauppa
Name[fr]=Magasin
Name[hu]=Áruház
Name[it]=Negozio
Name[ja]=ストア
Name[ko]=상점
Name[nl]=Winkel
Name[no]=Butikk
Name[pl]=Sklep
Name[pt_PT]=Loja
Name[ro]=Magazin
Name[ru]=Магазин
Name[sv]=Butik
Name[th]=ร้านค้า
Name[tr]=Mağaza
Name[uk]=Крамниця
Name[vi]=Cửa hàng
Name[zh_CN]=商店
Name[zh_TW]=商店
Exec=steam steam://store

[Desktop Action Community]
Name=Community
Name[pt_BR]=Comunidade
Name[bg]=Общност
Name[cs]=Komunita
Name[da]=Fællesskab
Name[de]=Community
Name[el]=Κοινότητα
Name[es]=Comunidad
Name[fi]=Yhteisö
Name[fr]=Communauté
Name[hu]=Közösség
Name[it]=Comunità
Name[ja]=コミュニティ
Name[ko]=커뮤니티
Name[nl]=Community
Name[no]=Samfunn
Name[pl]=Społeczność
Name[pt_PT]=Comunidade
Name[ro]=Comunitate
Name[ru]=Сообщество
Name[sv]=Gemenskap
Name[th]=ชุมชน
Name[tr]=Topluluk
Name[uk]=Спільнота
Name[vi]=Cộng đồng
Name[zh_CN]=社区
Name[zh_TW]=社群
Exec=steam steam://url/SteamIDControlPage

[Desktop Action Library]
Name=Library
Name[pt_BR]=Biblioteca
Name[bg]=Библиотека
Name[cs]=Knihovna
Name[da]=Bibliotek
Name[de]=Bibliothek
Name[el]=Συλλογή
Name[es]=Biblioteca
Name[fi]=Kokoelma
Name[fr]=Bibliothèque
Name[hu]=Könyvtár
Name[it]=Libreria
Name[ja]=ライブラリ
Name[ko]=라이브러리
Name[nl]=Bibliotheek
Name[no]=Bibliotek
Name[pl]=Biblioteka
Name[pt_PT]=Biblioteca
Name[ro]=Colecţie
Name[ru]=Библиотека
Name[sv]=Bibliotek
Name[th]=คลัง
Name[tr]=Kütüphane
Name[uk]=Бібліотека
Name[vi]=Thư viện
Name[zh_CN]=库
Name[zh_TW]=收藏庫
Exec=steam steam://open/games

[Desktop Action Servers]
Name=Servers
Name[pt_BR]=Servidores
Name[bg]=Сървъри
Name[cs]=Servery
Name[da]=Servere
Name[de]=Server
Name[el]=Διακομιστές
Name[es]=Servidores
Name[fi]=Palvelimet
Name[fr]=Serveurs
Name[hu]=Szerverek
Name[it]=Server
Name[ja]=サーバー
Name[ko]=서버
Name[nl]=Servers
Name[no]=Tjenere
Name[pl]=Serwery
Name[pt_PT]=Servidores
Name[ro]=Servere
Name[ru]=Серверы
Name[sv]=Servrar
Name[th]=เซิร์ฟเวอร์
Name[tr]=Sunucular
Name[uk]=Сервери
Name[vi]=Máy chủ
Name[zh_CN]=服务器
Name[zh_TW]=伺服器
Exec=steam steam://open/servers

[Desktop Action Screenshots]
Name=Screenshots
Name[pt_BR]=Capturas de tela
Name[bg]=Снимки
Name[cs]=Snímky obrazovky
Name[da]=Skærmbilleder
Name[de]=Screenshots
Name[el]=Φωτογραφίες
Name[es]=Capturas
Name[fi]=Kuvankaappaukset
Name[fr]=Captures d'écran
Name[hu]=Képernyőmentések
Name[it]=Screenshot
Name[ja]=スクリーンショット
Name[ko]=스크린샷
Name[nl]=Screenshots
Name[no]=Skjermbilder
Name[pl]=Zrzuty ekranu
Name[pt_PT]=Capturas de ecrã
Name[ro]=Capturi de ecran
Name[ru]=Скриншоты
Name[sv]=Skärmdumpar
Name[th]=ภาพหน้าจอ
Name[tr]=Ekran Görüntüleri
Name[uk]=Скріншоти
Name[vi]=Ảnh chụp
Name[zh_CN]=截图
Name[zh_TW]=螢幕擷圖
Exec=steam steam://open/screenshots

[Desktop Action News]
Name=News
Name[pt_BR]=Notícias
Name[bg]=Новини
Name[cs]=Zprávy
Name[da]=Nyheder
Name[de]=Neuigkeiten
Name[el]=Νέα
Name[es]=Noticias
Name[fi]=Uutiset
Name[fr]=Actualités
Name[hu]=Hírek
Name[it]=Notizie
Name[ja]=ニュース
Name[ko]=뉴스
Name[nl]=Nieuws
Name[no]=Nyheter
Name[pl]=Aktualności
Name[pt_PT]=Novidades
Name[ro]=Știri
Name[ru]=Новости
Name[sv]=Nyheter
Name[th]=ข่าวสาร
Name[tr]=Haberler
Name[uk]=Новини
Name[vi]=Tin tức
Name[zh_CN]=新闻
Name[zh_TW]=新聞
Exec=steam steam://open/news

[Desktop Action Settings]
Name=Settings
Name[pt_BR]=Configurações
Name[bg]=Настройки
Name[cs]=Nastavení
Name[da]=Indstillinger
Name[de]=Einstellungen
Name[el]=Ρυθμίσεις
Name[es]=Parámetros
Name[fi]=Asetukset
Name[fr]=Paramètres
Name[hu]=Beállítások
Name[it]=Impostazioni
Name[ja]=設定
Name[ko]=설정
Name[nl]=Instellingen
Name[no]=Innstillinger
Name[pl]=Ustawienia
Name[pt_PT]=Definições
Name[ro]=Setări
Name[ru]=Настройки
Name[sv]=Inställningar
Name[th]=การตั้งค่า
Name[tr]=Ayarlar
Name[uk]=Налаштування
Name[vi]=Thiết lập
Name[zh_CN]=设置
Name[zh_TW]=設定
Exec=steam steam://open/settings

[Desktop Action BigPicture]
Name=Big Picture
Exec=steam steam://open/bigpicture

[Desktop Action Friends]
Name=Friends
Name[pt_BR]=Amigos
Name[bg]=Приятели
Name[cs]=Přátelé
Name[da]=Venner
Name[de]=Freunde
Name[el]=Φίλοι
Name[es]=Amigos
Name[fi]=Kaverit
Name[fr]=Amis
Name[hu]=Barátok
Name[it]=Amici
Name[ja]=フレンド
Name[ko]=친구
Name[nl]=Vrienden
Name[no]=Venner
Name[pl]=Znajomi
Name[pt_PT]=Amigos
Name[ro]=Prieteni
Name[ru]=Друзья
Name[sv]=Vänner
Name[th]=เพื่อน
Name[tr]=Arkadaşlar
Name[uk]=Друзі
Name[vi]=Bạn bè
Name[zh_CN]=好友
Name[zh_TW]=好友
Exec=steam steam://open/friends

