[Desktop Entry]
Name=SXHKD
Comment=Hotkey daemon for BSPWM
Exec=sxhkd
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=bspwm;
NotShowIn=GNOME;KDE;Unity;MATE;XFCE;i3;sway;
