[Desktop Entry]
Type=Application
Name=Termite dropdown
Icon=termite
Comment=Termite as a dropdown terminal
Exec=termite -t 'dropdown'
StartupNotify=false
Terminal=false
Hidden=false
NotShowIn=GNOME;KDE;Unity;MATE;XFCE;
OnlyShowIn=i3;sway;bspwm;
