[Desktop Entry]
Type=Application
Name=Udiskie
Icon=indicator-sensors-disk
Comment=Udisks manager and applet
Exec=udiskie
StartupNotify=false
Terminal=false
Hidden=false
OnlyShowIn=i3;sway;
