[Desktop Entry]
Name=uGet
GenericName=Download Manager
Comment=Download multiple URLs and apply it to one of setting/queue.
Exec=uget-gtk %u
Icon=uget-icon
Terminal=false
Type=Application
Categories=Network;FileTransfer;
Keywords=filetransfer;download files;download manager;
