[Desktop Entry]
Version=1.0
Name=Unclutter
Comment=Hide inactive mouse
Exec=unclutter
Icon=mouse
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
Hidden=false
NotShowIn=sway;
OnlyShowIn=bspwm;
