[Desktop Entry]
Version=1.0
Name=XFCE4-Notifyd
Comment=The Xfce Notifications Daemon
Exec=/usr/lib/xfce4/notifyd
Icon=applications-system
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=XFCE;
