[Desktop Entry]
Name=XSS-Lock
Comment=Wrapper for locking screen on power events
Exec=sh -c '/usr/bin/xss-lock -- /usr/bin/bspwm-locker'
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=i3;bspwm;
NotShowIn=GNOME;KDE;Unity;MATE;sway;
