[Desktop Entry]
Name=XSS-Lock for BSPWM
Comment=Wrapper for locking screen on power events in BSPWM
Exec=sh -c '/usr/bin/xss-lock -- /usr/bin/sbp-xlocker'
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=bspwm;
