[Desktop Entry]
Name=XSS-Lock for BSPWM
Comment=Wrapper for locking screen on power events in BSPWM
Exec=sh -c '/usr/bin/xss-lock --tranfer-sleep-lock -- bspwm-lock-wrapper.sh'
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=bspwm;
