@import "color.css";
/* Generic bar properties */
* {
    border:         none;
    border-radius:  0px;
    font-family:    "statusbar:style=Extra Condensed";
    font-size:      12px;
    min-height:     0;
}
window#waybar {
    background: @base01;
    opacity: 0.75;
    border-bottom: 2px solid @base00;
    border-top: 2px solid @base00;
    color: @base04;
}
window#waybar.hidden {
    opacity: 0.25;
}
/* General formatting */
#workspaces, #mode, #window, #idle-inhibitor, #custom-clock, #custom-date, #custom-mpd-song, #custom-mpd-prev, #custom-mpd-rewind, #custom-mpd-fastforward, #custom-mpd-next, #custom-mpd-random, #custom-mpd-repeat, #custom-mpd-single, #custom-mpd-consume, #custom-keyboard, #custom-battery, #custom-speaker, #custom-microphone, #custom-backlight, #custom-memory, #custom-cpu, #custom-fan, #custom-coretemp, #custom-gputemp, #custom-rootfs, #custom-homefs, #custom-calendar, #custom-todo, #custom-gmail, #custom-rss, #custom-network, #custom-bandwidth, #custom-update, #custom-uptime, #custom-kernel, #tray {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
    color: @base04;
    background: transparent;
    border-radius: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
/* Custom colors for attention */
*.mute {color: @base03;}
*.urgent {color: @base09;}
#idle_inhibitor.activated {color: @base0C;}
/* Workspaces */
#workspaces {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
}
#workspaces button {
    background: transparent;
    font-weight: bold;
    border-radius: 0px;
    margin-top: 0px;
    margin-top: 0px;
    margin-left: 3px;
    margin-bottom: 3px;
    color: @base04;
    border-bottom: 2px solid @base04;
}
#workspaces button.persistant {border-bottom: @base03; color: @base03;}
#workspaces button.visible {background: rgba(1, 1, 1, .1);}
#workspaces button.focused {border-bottom: 2px solid @base0C; color: @base0C;
    background: rgba(1, 1, 1, .1);}
#workspaces button.urgent {border-bottom: 2px solid @base09; color: @base09;}
/* Border lines: FOREGROUND */
#custom-tray {
    border-top: 2px solid @base04;
}
/* Border lines: RED */
#custom-battery.low {
    border-bottom: 2px solid @base08;
}
#custom-coretemp, #custom-gputemp, #custom-todo {
    border-top: 2px solid @base08;
}
/* Border lines: ORANGE */
#custom-battery.warn {
    border-bottom: 2px solid @base04;
}
#custom-fan, #custom-rss {
    border-top: 2px solid @base09;
}
/* Border lines: YELLOW */
#custom-battery.ok {
    border-bottom: 2px solid @base04;
}
#custom-cpu, #custom-email {
    border-top: 2px solid @base0A;
}
/* Border lines: GREEN */
#custom-battery.good {
    border-bottom: 2px solid @base04;
}
#custom-memory, #custom-network, #custom-bandwidth {
    border-top: 2px solid @base0B;
}
/* Border lines: CYAN */
#mode, #window, #idle-inhibitor, #custom-keyboard {
    border-bottom: 2px solid @base0C;
}
#custom-backlight, #custom-update {
    border-top: 2px solid @base0C;
}
/* Border lines: INDIGO */
#custom-clock, #custom-date {
    border-bottom: 2px solid @base0D;
}
#custom-microphone, #custom-uptime {
    border-top: 2px solid @base0D;
}
/* Border lines: VIOLET */
#custom-mpd-song, #custom-mpd-prev, #custom-mpd-rewind, #custom-mpd-fastforward, #custom-mpd-next, #custom-mpd-random, #custom-mpd-repeat, #custom-mpd-single, #custom-mpd-consume {
    border-bottom: 2px solid @base0E;
    padding-left: 0px;
    padding-right: 0px;
}
#custom-speaker, #custom-kernel {
    border-top: 2px solid @base0E;
}
/* Border lines: BROWN */
#custom-rootfs, #custom-homefs, #custom-calendar {
    border-top: 2px solid @base0F;
}
