@import "color.css";

/* Generic bar properties */
* {
    border:         none;
    border-radius:  2;
    font-family:    "statusbar:style=Extra Condensed";
    font-size:      14px;
    min-height:     0;
    transition:     none;
}

window#waybar {
    background: @base01;
    opacity: 0.75;
    border-bottom: 2px solid @base00;
    border-bottom: 2px solid @base00;
}
window#waybar.hidden {
    opacity: 0.25;
}


/* Workspaces */
#workspaces {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    color: @base04;
    background: transparent;
	border-radius: 0px;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
}
#workspaces button {
    background: transparent;
    color: @base03;
    border-top:    2px solid @base04;
    border-bottom: 2px solid @base04;
    font-weight: bold;
    border-radius: 0px;
    margin-top: 0px;
    margin-top: 0px;
    margin-left: 3px;
    margin-bottom: 3px;
}
#workspaces button.persistant {
    border-top: @base03;
    border-bottom: @base03;
}
#workspaces button.visible {
    color: @base04;
}
#workspaces button.focused {
    color: @base04;
    background: rgba(1, 1, 1, .1);
}
#workspaces button:hover {
    color: @base0C;
}
#workspaces button.urgent {
    color: @base09;
    border-top: 2px solid @base08;
    border-bottom: 2px solid @base08;
}

/* General formatting */
#mode, #window, #idle-inhibitor, #clock, #custom-day, #mpd, #custom-keyboard, #pulseaudio, #battery, #backlight, #temperature, #custom-fan, #cpu, #memory, #custom-kernel, #custom-calendar, #custom-todo, #custom-email, #custom-rss, #network.ethernet, #network.wifi, #custom-updates, #tray {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
    color: @base04;
    background: transparent;
    border-top:    2px solid @base04;
    border-bottom: 2px solid @base04;
    border-radius: 0px;
    margin-top: 1px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1px;
}

/* Custom colors */
*.mute {
    color: @base03;
    border-top:    2px solid @base03;
    border-bottom: 2px solid @base03;
}
#idle_inhibitor.activated {
    color: @base03;
    border-top:    2px solid @base03;
    border-bottom: 2px solid @base03;
}
#mpd.disconnected, #mpd.stopped, #mpd.paused {
    color: @base03;
    border-top:    2px solid @base03;
    border-bottom: 2px solid @base03;
}
#pulseaudio.muted {
    color: @base03;
    border-top:    2px solid @base03;
    border-bottom: 2px solid @base03;
}
#battery.warning {
    color: @base09;
    border-top:    2px solid @base09;
    border-bottom: 2px solid @base09;
}
#battery.critical {
    color: @base08;
    border-top:    2px solid @base08;
    border-bottom: 2px solid @base08;
}
#temperature.critical {
    color: @base08;
    border-top:    2px solid @base08;
    border-bottom: 2px solid @base08;
}
