[Desktop Entry]
Name=Readme
Exec=env WINEPREFIX="/home/silverbluep/.wine" /usr/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/silverbluep/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/GOG.com/Pharaoh\\ Gold/Documents/Readme.lnk
Type=Application
StartupNotify=true
Path=/home/silverbluep/.wine/dosdevices/c:/GOG Games/Pharaoh Gold
Icon=47D1_Readme.0
