[Unit]
Description=Bluetooth manager applet on X display %I
Documentation=man:blueman-applet(1)
After=X11@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/usr/bin/blueman-applet
SyslogIdentifier=blueman-applet

[Install]
WantedBy=systray@.service
