[Unit]
Description=Binary Split Partitioning Window Manager on X display %I
Documentation=man:bspwm(1)
After=X11@%i.target
Requires=X11@%i.target
Before=wm-running@%i.target

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/bin/bash -c 'exec 8>%t/x11-wm@%I; exec /usr/bin/bspwm'
SyslogIdentifier=bspwm
Restart=always
RestartSec=10
