[Unit]
Description=Dropbox file syncing on X display %I
Documentation=man:dropbox(1)
After=X11@%i.target i3@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%i
Type=simple
ExecStart=/usr/bin/env bash -c '[ -e /usr/bin/dropbox ] && /usr/bin/dropbox'
SyslogIdentifier=dropbox
Restart=on-failure
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=i3@.service
