[Unit]
Description=Dropbox file syncing on X display %I
Documentation=man:dropbox(1)
After=X11@%i.target i3@%i.service sway@%i.service

[Service]
Environment=DISPLAY=%i
Type=simple
ExecStart=/usr/bin/sh -c 'if [ -e /usr/bin/dropbox ] ; then /usr/bin/dropbox ; fi'
SyslogIdentifier=dropbox
Restart=on-failure
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=i3@.service
WantedBy=sway@.service
