[Unit]
Description=Dunst notification-daemon on X display %I
Documentation=man:dunst(1)

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/usr/bin/dunst
SyslogIdentifier=dunst

[Install]
WantedBy=i3@.service
