[Unit]
Description=Dunst notification-daemon on X display %I
Documentation=man:dunst(1)
After=X11@%i.target i3@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/usr/bin/dunst
SyslogIdentifier=dunst

[Install]
WantedBy=i3@.service
