[Unit]
Description=Change wallpaper periodically using Feh on X display %I
Documentation=man:feh(1)

[Timer]
OnUnitActiveSec=15m
Unit=i3-wallpaper@%i.service

[Install]
WantedBy=i3@.service
