[Unit]
Description=Improved Tiling Window Manager (i3wm) on X display %I
Documentation=man:i3(1)
After=X11@%i.target
Requires=X11@%i.target
Before=wm-running@%i.target

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/bin/bash -c 'exec 8>%t/x11-wm@%I; exec /usr/bin/i3'
SyslogIdentifier=i3-gaps
