[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
ExecStart=/usr/bin/jupyter-lab
Restart=on-success
RestartSec=2

[Install]
WantedBy=multi-user.target
