[Unit]
Description=Screen lock on X display %I
Documentation=man:i3lock(1)

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=%h/.config/systemd/scripts/fancylock.sh
SyslogIdentifier=i3lock
ExecStartPost=/bin/sleep 1
