[Unit]
Description=Refresh feed database
Documentation=man:newsboat(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/newsboat -x reload
SyslogIdentifier=newsboat-reload
