[Unit]
Description=Polkit Authentication Agent (Gnome) on X display %I
After=X11@%i.target i3@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
SyslogIdentifier=polkit-gnome

[Install]
WantedBy=i3@.service
