[Unit]
Description=Info bar at the bottom of screen on X display %I
Documentation=man:polybar(1)
After=X11@%i.target
Requisite=X11@%i.target
After=wm-running@%i.target

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=%h/.config/polybar/launch.sh bot
SyslogIdentifier=polybar-bot




[Install]
WantedBy=bspwm@.service
