[Unit]
Description=Redshift display colour temperature adjustment on X display %I
Documentation=man:redshift(1)
After=X11@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/usr/bin/redshift
SyslogIdentifier=Redshift
ExecStopPost=/usr/bin/env redshift -x

[Install]
WantedBy=i3@.service
