[Unit]
Description=Redshift display colour temperature adjustment on X display %I
Documentation=man:redshift(1)
Requires=geoclue-demo-agent.service
After=geoclue-demo-agent.service X11@%i.target i3@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/usr/bin/redshift-gtk
SyslogIdentifier=redshift-gtk

[Install]
WantedBy=i3@.service
