[Unit]
Description=Redshift display colour temperature adjustment on X display %I
Documentation=man:redshift(1)
Requires=geoclue-demo-agent.service
After=geoclue-demo-agent.service

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/usr/bin/redshift-gtk
SyslogIdentifier=Redshift
ExecStopPost=/usr/bin/env redshift -x

[Install]
WantedBy=i3@.service
