[Unit]
Description=Set the displays on Sway display %I
Documentation=man:sway(1)
After=sway@%i.target
Requisite=sway@%i.target

[Service]
Environment=DISPLAY=%I
Type=oneshot
ExecStart=%h/.config/sway/monitors.sh
SyslogIdentifier=sway-monitors.sh

[Install]
WantedBy=sway@%i.service
