[Unit]
Description=Sway Window Manager on Wayland display %I
Documentation=man:sway(1)

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/usr/bin/systemd-inhibit --what=handle-power-key /usr/bin/sway
ExecStop=/usr/bin/swaymsg exit ; sleep 2
SyslogIdentifier=sway
