[Unit]
Description=Change wallpaper periodically using Sway on X display %I
Documentation=man:sway(1)

[Timer]
OnUnitActiveSec=15m
Unit=sway-wallpaper@%i.service

[Install]
WantedBy=sway@.service
