[Unit]
Description=Simple X Hotkey Daemon (sxhkd) on X display %I
Documentation=man:sxhkd(1)
After=X11@%i.target
Requisite=X11@%i.target


[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/usr/bin/sxhkd
SyslogIdentifier=sxhkd
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID



[Install]
WantedBy=bspwm@.service
