[Unit]
Description=GTK frontend for the Syncthing daemon on X display %I
Documentation=man:syncthing-gtk(1)
After=systray@%i.target
Requisite=systray@%i.target

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/usr/bin/syncthing-gtk --minimized
SyslogIdentifier=syncthing-gtk




[Install]
WantedBy=systray@.target
