[Unit]
Description=Udiskie mount manager tray icon on X display %I
Documentation=man:udiskie(1)
After=systray@%i.target
Requisite=systray@%i.target

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/usr/bin/udiskie
SyslogIdentifier=udiskie




[Install]
WantedBy=systray@.target
