[Unit]
Description=Udiskie mount manager tray icon on X display %I
Documentation=man:udiskie(1)
After=X11@%i.target i3@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I
Type=simple
ExecStart=/usr/bin/udiskie
SyslogIdentifier=udiskie

[Install]
WantedBy=i3@.service
