[Unit]
Description=QT frontend for wpa_supplicant (systray) on X display %I
Documentation=man:wpa_gui(8)
After=X11@%i.target i3@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I
Environment=QT_STYLE_OVERRIDE="gtk2"
Type=simple
ExecStart=/usr/bin/env bash -c '[ -e /usr/bin/wpa_gui ] && wpa_gui -t -q'
SyslogIdentifier=wpa_gui

[Install]
WantedBy=i3@.service
