[Unit]
Description=Load XModMap keyboard map on X display %I
Documentation=man:xmodmap(1)
After=X11@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I
Type=oneshot
ExecStart=/usr/bin/xmodmap %h/.config/X11/modmap
SyslogIdentifier=xmodmap

[Install]
WantedBy=X11@%i.target
