[Unit]
Description=Set the displays on X display %I
Documentation=man:xrdb(1)
Before=X11@%i.target
Requisite=X11@%i.target

[Service]
Environment=DISPLAY=%I
Type=oneshot
ExecStart=%h/.config/X11/monitors.sh
SyslogIdentifier=xrandr-monitors-script

[Install]
WantedBy=X11@%i.target
