[Unit]
Description=Set the X Resources DataBase DPI to match the display DPI on X display %I
Documentation=man:xrdb(1)
Before=X11@%i.target
Requisite=X11@%i.target
Conflicts=xresources@%i.servic

[Service]
Environment=DISPLAY=%I
Type=oneshot
ExecStart=/usr/bin/flock %t/x11-xrdb@%I -c %h/.config/X11/xrdb-set-dpi.sh
SyslogIdentifier=xrdb-set-dpi




[Install]
WantedBy=X11@%i.target
