! run 'xrdb -load .Xresources' to refresh

#define base00 #151515
#define base01 #202020
#define base02 #303030
#define base03 #505050
#define base04 #b0b0b0
#define base05 #d0d0d0
#define base06 #e0e0e0
#define base07 #f5f5f5
#define base08 #fb9fb1
#define base09 #eda987
#define base0A #ddb26f
#define base0B #acc267
#define base0C #12cfc0
#define base0D #6fc2ef
#define base0E #e1a3ee
#define base0F #deaf8f

Xcursor.theme: Breeze-Hacked

!----------------!
!-URxvt settings-!
!----------------!

URxvt.color0:       base00
URxvt.color1:       base08
URxvt.color2:       base0B
URxvt.color3:       base0A
URxvt.color4:       base0D
URxvt.color5:       base0E
URxvt.color6:       base0C
URxvt.color7:       base05

URxvt.color8:       base03
URxvt.color9:       base08
URxvt.color10:      base0B
URxvt.color11:      base0A
URxvt.color12:      base0D
URxvt.color13:      base0E
URxvt.color14:      base0C
URxvt.color15:      base07

URxvt.color16:      base09
URxvt.color17:      base0F
URxvt.color18:      base01
URxvt.color19:      base02
URxvt.color20:      base04
URxvt.color21:      base06

URxvt.foreground:   base05
URxvt.background:   base00
URxvt.cursorColor:  base05


URxvt.font:     -gohu-gohufont-medium-r-normal--14-100-100-100-c-80-iso10646-1,xft:FuraCode Nerd Font Mono:pixelsize=14
URxvt.boldFont: -gohu-gohufont-bold-r-normal--14-100-100-100-c-80-iso10646-1,xft:FuraCode Nerd Font Mono:pixelsize=14

URxvt.depth:                    32
URxvt.geometry:                 128x32
URxvt.transparent:              true
URxvt.shading:                  32
URxvt.loginShell:               true
URxvt.saveLines:                50
URxvt.internalBorder:           0
URxvt.lineSpace:                0
URxvt.allow_bold:               true
URxvt.scrollStyle:              rxvt
URxvt.scrollBar:                false
URxvt.cursorBlink:              true
URxvt.cursorUnderline:          false
URxvt.fading:                   15
URxvt.pointerBlank:             false

! URxvt.letterSpace: 		-1
! URxvt.urgentOnBell:             true
! URxvt.visualBell:               true
