[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sbp/Desktop/steam.desktop]
row=3
col=0

[2c9d6568-bbf2-4e41-b2e7-0119cc93f1da]
row=4
col=0

[2018-10-16-11-22-37-00]
row=5
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/sbp]
row=1
col=0

