[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sbp/Music]
row=6
col=0

[/home/sbp/Documents]
row=8
col=0

[/home/sbp/Phone]
row=0
col=1

[/home/sbp/Desktop]
row=1
col=1

[/home/sbp/Research]
row=7
col=0

[/home/sbp/Dropbox]
row=4
col=1

[/home/sbp/Downloads]
row=2
col=1

[/home/sbp/Videos]
row=5
col=0

[/home/sbp/Pictures]
row=4
col=0

[/home/sbp/Configs]
row=3
col=1

[38723ae5-3578-4941-a1b6-a81546260444]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=1
col=0

[/home/sbp]
row=2
col=0

