[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sbp/Music]
row=2
col=17

[/home/sbp/Documents]
row=1
col=17

[/home/sbp/Phone]
row=5
col=17

[/home/sbp/Desktop]
row=7
col=17

[/home/sbp/Research]
row=6
col=17

[/home/sbp/Configs]
row=8
col=17

[/home/sbp/Videos]
row=3
col=17

[/home/sbp/Pictures]
row=0
col=17

[/home/sbp/Downloads]
row=4
col=17

[815237ff-a53e-4e8c-b01c-a96f7a5061a4]
row=3
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/sbp]
row=1
col=0

